
body{
	background-color:#171719;
	font:"Roboto Black", "Roboto LightItalic", "Roboto Medium", "Roboto Regular" !important;
	color:#FFF;
	font-size: 1rem;
  	font-weight: 400;
	}
	
button{
	border-width: 0;
	}
	
.maib_line{
	display:inline-block;
	width:26px;
	height:4px;
	margin-top:30%;
}
.suare{
	display:inline-block;
	width:15px;
	height:15px;
}

#start_screen{
	background-image:url(Images/Ladenburg_IAwards_feature.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	}
	
.bg_logo{
	background-color: #171719;
}

.menu_custom{
	width:100%;
	border-top-color:#333;
	border-top-width:1px;
	border-top-style:solid;
}
.menu_custom  a {
	color:#FFF;
}
.menu_custom:hover .menu_custom{
	color:#0F3;
	}

.pt_custom{
	padding-top:7rem;	
}
.pb_custom{
	padding-bottom:6rem;
}

.main_title{
	font-size:5rem;
	font-weight:bold;
	line-height:1;
}
@media (max-width: 544px){
.main_title{
	font-size:2rem;
	font-weight:bold;
	}
.secondary_title{
	font-size:smaller;
	font-weight:bold;
	}
p{
	font-size:small;
	}
.phone_text{
	position:relative;
	left: -150%;
	font-size: 0.75rem;
	}
.mail_text{
	position:relative;
	left: -250%;
	font-size: 0.65rem;
	}
	
.social_wrapper{
	padding-right:0 !important;
	
	}
}

.secondary_title{
	font-weight:bold;
}

.bg_custom{
	background-color: #c9995a;
}

.color_custom{
	color: #c9995a;
}

.people_wrapper{
	border-width: 4px;
	border-color: #c9995a;
	border-style:solid;
	display: inline-block;
	padding: 5px 31px;
	margin-top: 19px;
}

.button_wrapper{
	padding-bottom:140px;
}


.strange_box{
	height: 7rem;
	width:4px;
	}
	
.box_img{
	height: 6rem;
	width:100%
}

.social_wrapper{
	width: 40px;
	font-size: 1.5rem;
	padding-top: 100px;
    padding-left: 223px;
}

.social-wrap {
    display: inline-block;
    width: 40px;
    height: 124px;
}
.insta-wrap {
	background-color: #a52f50;
}
.social-icon{
	margin: 26px 8px;
    text-align: center;
    width: 24px;
	height: 24px;
	color: #fff;
}
.fb-wrap{
	background-color:#3c5a99;
}
.ytube-wrap{
	background-color:#ce0000;
}

.animated-icon1 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background:#FFF;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}
.animated-icon1 span:nth-child(2) {
top: 10px;
}
.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
opacity: 0;
}
.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.unuty_wraper{
	background-image:url(Images/unitybg.png);
	background-repeat:no-repeat;
	background-size:80% 90%;
	background-position:right top;
	background-color:#d0a266;
	font-weight:bold;
	padding-right: 5%;
	padding-left:15% !important;
}
.img_static{
	position:absolute;
	top:0;
	left:-10px;
	width:58%
}

.underline{
	width:30%;
	border-bottom-color:#333;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.font_smaller{
	font-size:smaller;
}
.big_font{
	font-size:3.5em;	
}

.membersheep_wrapper{
	width:100%;
	background-color:#26252a;
	background-image:url(Images/membersheepback.png);
}
.membersheep_wrapper h3 {
	color:#3c3a42;
}
.membersheep_wrapper .container{
	width:85%;
}
.membersheep_wrapper img{
	display:block;
}
.font_colontitle{
	font-size:11px;
	color:#7E7E80;
}

.allow_wrapper{
	background-color:#1e1d22;
	font-size:15px;
}
.allow_wrapper .maib_line{
	height:1px;
	width:100px;
	background-color:#4e4d51;
}
.allow_wrapper .font_smaller{
	color:#b0b0b0;
}

.allow_wrapper .color_custom{
	font-size:x-large;
}
.allow_hordivider{
	width:30px;
	max-width:30px;
}
.allow_divider{
	height:1rem;
}
.mb_wrapper{
	background-color:#1e1d22;
	padding-bottom:3rem;
	padding-top: 3rem;
	width:95%;
}
.mb_wrapper img{
	display:block;
}
.criteria{
	background-color:#1e1d22;
	margin-right: 5%;
}
.img_atributes{
	position:absolute;
	top: -3rem;
	left:40%;
}

.partners_wrapper{
	background-color:#26252a;
	width:100%;
}

.partner_logo{
	display:block;
	width: 95%;
}

.align_center{
	text-align:center;
}
.arr{
	text-align:start;
	margin-top:125%;
}

.video_wrapper{
	background-color: #1e1d22;
	position:relative;
}
.video_position{
	position:relative;
	top: 2.5rem;
	left: -5.8rem;
}

.box{
	width:75%;
	height:30px;
	margin-left: 5rem;

}

.small_box{
	width:80%;
	height:5px;
	margin-left:auto;
	margin-right:auto;
}
.small_box100{
	width:100%;
	height:5px;
	}
.video_arrow{
	width: 70px;
	position:relative;
	right:-70px;
	top:-115%;
}
.video_line{
	margin-left: 2.8rem;
	position:relative;
	top:-3rem;
	width:95%;
}

.events_wrapper{
	background-image:url(Images/logogray.png);
	background-repeat:no-repeat;
	background-position:left;
	background-size:cover;
}

.calendar{
	background-color:#2d2c32;
	position:relative;
	left:51%;
}

.moving_row1{
	position:relative;
	top:-15rem;
}

.moving_row2{
	position:relative;
	top:-15rem;
		max-height:1px;
}
.moving_row2 .small_box{
	width:100%;
	margin:0;

	}
.event_images_wrapper{
	position:relative;
	left:57%;
	top:-21rem;
}

.request_wrapper{
	background-image:url(Images/requestbg.png);
}

.custom_input{
	background-color:inherit;
	border:none;
	border-bottom-color:#b0b0b0;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.custom_input:focus{
	background-color:inherit;
	border:none;
	outline:0 !important;
	border-color: rgba(0, 0, 0, 0) !important;
	border-bottom-color:#c9995a !important;
	border-bottom-style:solid !important;
	border-bottom-width:1px !important;
	border-bottom-left-radius:0 !important;
	border-bottom-right-radius:0 !important;
	font-weight:bold;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 0 rgba(0, 0, 0, 0) !important;
}
.btn_form{
	background-image:url(Images/firm-pattern.png);
	background-color:#c9995a;
	background-position: 20px -80px;
	background-repeat: no-repeat;
	border:none;
	border-radius:0;
	font-size:1rem;
	text-align: left;
	font-weight:bolder;
	color: #fff;
}

.footer_wrapper{
	background-color:#101011;
	color:#3c3a42;
	font-size:14px;
}
.footer_wrapper a{
	color: #A6A6A8;
}
.footer_wrapper a:hover{
	color: #fff;
	text-decoration: none;
}
.inner_wparrer{
	width:80%;
}

button#enter_btn {
    background-image: url(Images/firm-pattern.png);
	background-position: 57px -80px;
	background-repeat: no-repeat;
}

.input-wrap {
	display: flex;
	flex-flow: column-reverse;
	margin-bottom: 1em;
}

.input-wrap label, .input-wrap input {
	transition: all 0.2s;
	touch-action: manipulation;
}
  
.input-wrap input {
	font-size: 1.5em;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
	cursor: text;
  }
  
.input-wrap input:focus {
	outline: 0;
	border-bottom: 1px solid #c9995a;
  }
  
.input-wrap label {
	text-transform: uppercase;
	letter-spacing: 0.05em;
  }

.input-wrap input:placeholder-shown + label {
	cursor: text;
	max-width: 66.66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(0, 2.125rem) scale(1.5);
  }
  
  .input-wrap  ::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
  }
  
  .input-wrap input:focus::-webkit-input-placeholder {
	opacity: 1;
  }

  .input-wrap input:not(:placeholder-shown) + label,
  .input-wrap input:focus + label {
	transform: translate(0, 0) scale(1);
	cursor: pointer;
  }

  .input-wrap input {
	background: transparent;
	padding: 0 16px;
	color: #fff;
  }

  .input-wrap label {
	color: #a6a6a6;
    padding: 0 16px;
    margin-bottom: 0px;
  }

  .cbx {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
  }
  .cbx span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098a9;
	transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #c9995a;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
  }
  .cbx span:last-child {
	padding-left: 8px;
  }
  .cbx img {
	  margin-left: 20px;
	  margin-right: 10px;
  }
  .cbx:hover span:first-child {
	border-color: #c9995a;
  }
  .cbx-wrap {
	display: inline-block;
    margin-right: 55px;
  }
  .cbx-wrap:last-child {
	margin-right: 0;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
	background: #c9995a;
	border-color: #c9995a;
	animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
	transform: scale(3.5);
	opacity: 0;
	transition: all 0.6s ease;
  }
  .call-time {
	width: 90px;
  }
  .call-time::-webkit-input-placeholder {
	opacity: 1;
  }
  @keyframes wave {
	50% {
	  transform: scale(0.9);
	}
  }

  #form-modal .modal-content {
	  background-color: #1e1d22;
	  background-image: url(/Images/modal-pattern.png);
	  background-repeat: no-repeat;
	  background-position: -210px -120px;
  }
  #form-modal .modal-title {
	  text-transform: uppercase;
  }
  #form-modal .modal-header{
	  border-bottom: 0;
	  padding: 80px 70px 0;
  }
  #form-modal .modal-body{
	border-bottom: 0;
	padding: 0 80px 70px;
  }
  #form-modal label {
	  color: #a6a6a6;
  }
  #form-modal .close {
	color: #fff;
  }
  #form-modal .middle-section {
    padding: 70px 80px;
	border-top: 1px solid #29292d;
	border-bottom: 1px solid #29292d;
}
#form-modal .modal-footer {
	padding: 70px 80px;
	border-top: none;
	justify-content: space-between;
}
.time-wrap {
	position: relative;
}
#addFile {
	position: absolute;
	right: 250px;
	top: 7px;
}
  @media (min-width: 992px){
	.modal-lg, .modal-xl {
		max-width: 1200px;
	}
  }
  
  /*календарь*/
.a-date{
	padding: 0.1em !important;

}
#calTFooter{
	display:none !important;
}

#calTitle, #calTbody, #calendar {
	background-color:inherit !important;
}
#calTitle {
 display:flex;
 justify-content:space-between;
 -ms-align-items:center;
 align-items:baseline !important;
 font-size:1.12em;
 text-align:center;
 padding:.4em 1em;
 padding-top:.8em
}
#monthYear{
	font-size:0.8em;
	font-weight:bold;
}
.month-mover{
	background-color:inherit !important;
}
.month-mover svg {
	color:#d0a266 !important;
	padding-bottom: 0.2rem;
}
#monthYear{
	margin-bottom:0;
}